// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Montserrat');
@import "colors";

body {
  margin: 0;
  padding: 0;
  background: $darksky;
}

body p {
  font-family: 'Montserrat';
  margin: 0.5em 0;
}

.form_area {
  display: block;
}

.confirm_location_button {
  display: block;
  margin: 0 auto;
	color: $sun;
	background: none;
	border-radius: 0;
	padding: 1.2em 2em;
	letter-spacing: 0.2em;
  font-family: 'Montserrat';
	font-size: 0.7em;
  text-transform: uppercase;
	transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
	box-shadow: inset 0 0 0.8em rgba(255,255,255,0.3), 0 0 0.8em rgba(255,255,255,0.3);
	border: $sun solid 2px;
	&:hover {
    cursor: pointer;
		color: $darksky;
		background-color: $sun;
		box-shadow: inset 0 0 0 rgba(255,255,255,0.3), 0 0 1.2em rgba(255,255,255,0.5);
	}
}

#individual-venue h1 {
  font-family: 'Hammersmith One', sans-serif;
  margin: 0.8em 0 0.5em 0;
  color: #fff;
  font-weight: 100;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}

.venue-link {
  text-decoration: none;
  font-size: 2rem;
  &:hover {
    cursor: pointer;
    color: $sun;
  }
}

#individual-venue {
  margin-bottom: 5%;
}

img.venue {
  width: 50%;
  display: block;
  margin: 0 auto;
  @media screen and (max-width: 600px) {
    width: 80%;
  }
}

p,
a {
  color: $platinum;
  font-size: small;
  text-align: center;
}

p { margin: 1.375rem 0; }

.ooo-logo {
    display: block;
    margin: 0 auto;
    height: 150px;
    width: 150px;
}

// google maps

#map-container {
    margin: 25px;
}

#map {
    display: block;
    margin: 0 auto;
    height: 384px;
    width: 90%;
}

#venue-map {
    display: block;
    margin: 0 auto;
    height: 384px;
    width: 51.75%;
    @media screen and (max-width: 600px) {
      width: 90%;
    }
}

.back_button {
  width: 50px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
	color: $sun;
	background: none;
	border-radius: 0;
  text-decoration: none;
	padding: 1em 1.2em;
	letter-spacing: 0.2em;
  font-family: 'Montserrat';
	font-size: 0.7em;
  text-transform: uppercase;
	transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
	box-shadow: inset 0 0 0.8em rgba(255,255,255,0.3), 0 0 0.8em rgba(255,255,255,0.3);
	border: $sun solid 2px;
	&:hover {
    cursor: pointer;
		color: $darksky;
		background-color: $sun;
		box-shadow: inset 0 0 0 rgba(255,255,255,0.3), 0 0 1.2em rgba(255,255,255,0.5);
	}
}
