// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map-container {
    height: 400px;
    border-radius: 16px 16px;
    border-color: #fff;
    border-style: solid;
    box-shadow: 2px 2px 10px #b1b1b1;
    margin-top: 25px;
    border-width: 7px;
}

#map {
    height: 384px;
    width: 100%;
}