<div class="main-container">

  <header>
    <div id="weather-container">
      <%= render "shared/weather" %>
    </div>
    <%= render "shared/advice" %>
  </header>

  <%= render "shared/boxes" %>

</div>
