<%= javascript_include_tag "places" %>

<h1>Let's find your ideal working spot</h1>
<div class="main-container">
  <%= render "shared/googlemap" %>
  <p id="main-description">Out of Office provides a curated list of places to work away from the office
    based on weather and location.</p>
  <p>It is made for digital nomads, freelancers, travelers, and dreamers.</p>
</div>
