<div class="main-container">

  <header>
    <%= image_tag("ooo-logo", alt: "ooo-logo", class: "ooo-logo") %>
    <div id="weather-container">
      <%= render "shared/weather" %>
    </div>
  </header>

  <%= render "shared/boxes" %>

</div>
